<section id="services">
   <div class="container">
      <div class="row">
         <div class="hidden-sm hidden-xs hidden-md col-lg-1 find-parking">
            <h2 style="margin-top: -16px"><i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i></h2>
         </div>
         <div class="col-md-7 col-lg-6">
            <h2 class="section-heading find-parking">Find Parking
                <p>With Haxspot find parking where you need it!</p>
            </h2>
            <hr class="primary" style="margin-left: 0px">
         </div>
         <div class="col-xs-offset-1 col-md-5 col-md-offset-0">
            <ul class="fa-ul">
               <li class="list-group-item">
                  <h4><i class="fa fa-2x fa-location-arrow wow bounceIn text-primary fa-li" data-wow-delay=".1s"></i> Easily locate nearby parking</h4>
               </li>
               <li class="list-group-item">
                  <h4><i class="fa fa-2x fa-check wow bounceIn text-primary fa-li" data-wow-delay=".1s"></i>
                  Reserve and navigate to spot</h4>
               </li>
               <li class="list-group-item">
                  <h4><i class="fa fa-2x fa-credit-card wow bounceIn text-primary fa-li" data-wow-delay=".1s"></i>
                  Park and checkout when you're done</h4>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>