<section class="bg-primary" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Haxspot</h2>
            <hr class="primary">
            <a href="{% post_url 2017-07-01-terms-of-service %}" class="">Terms of Service</a> -
            <a href="{% post_url 2017-07-01-privacy-policy %}"  class="">Privacy Policy</a>
            <p class="text-faded">@copyright Haxspot Inc 2015-2018</p>
         </div>
      </div>
   </div>
</section>
