<header>
   <div class="header-content">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 text-center">
               <h1>HaxSpot</h1>
               <p>Turn your driveway into cash</p>
               <hr>
               <div class="row text-center">
                  <div class="col-sm-12">
                     <a href="#posts" class="learn-more btn btn-primary btn-xl page-scroll">Learn More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>