<header>
   <div class="header-content">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 text-center">
               <h1>HaxSpot</h1>
               <p>Turn your driveway into cash</p>
               <hr>
               <div class="row">
                  <div class="col-lg-12 text-center">
                     <h3>Looking for parking? <br class="visible-xs"><small>- OR -</small> <br class="visible-xs">Own parking space?</h3> <p>Stay up to date with us</p>
                     <form id="keepInformedForm" action="//formspree.io/support@haxspot.com" method="POST" class="form-inline">
                        <div class="form-group">
                           <input type="email" name="_replyto" class="form-control" id="exampleInputEmail1" placeholder="Your Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Keep me posted!</button>
                        <br/>
                        <small>(Don't worry, we won't spam you)</small>
                        <br/>
                        <input type="hidden" name="message" class="form-control" value="Keep me informed">
                        <input type="hidden" name="_next" value="/" />
                        <input type="text" name="_gotcha" style="display:none" />
                     </form>
                  </div>
               </div>
               <br/>
               <hr>
               <div class="row text-center">
                  <div class="col-sm-12">
                     <a href="#posts" class="learn-more btn btn-primary btn-xl page-scroll">Learn More</a>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</header>