<section id="posts" class="bg-light">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">List Parking</h2>
            <hr class="primary">
            <p>Do you have available space for parking?</p>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
               <i class="fa fa-4x fa-road wow bounceIn text-primary"></i>
               <h3>Driveways</h3>
               <p class="text-muted">Make money on your extra driveway space</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
               <i class="fa fa-4x fa-building-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
               <h3>Business Parking Lots</h3>
               <p class="text-muted">After close of business, use the parking lot for cash</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box">
               <i class="fa fa-4x fa-map-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
               <h3>Empty Lots</h3>
               <p class="text-muted">Own an empty lot? Take advantage by listing on Haxspot</p>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="bg-primary">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading text-light">Getting Started is Easy</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 text-center list-parking-instr">
            <ul class="list-inline">
               <li class="list-group-item">
                  <h3><span>1.</span> Add parking spaces</h3>
               </li>
               <li class="list-group-item">
                  <h3><span>2.</span> Choose a rate</h3>
               </li>
               <li class="list-group-item">
                  <h3><span>3.</span> Profit!</h3>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>